{{> menu}}

<form class="box"  action="/pointOfInterest/{{placemark._id}}/updatepointOfInterest/{{pointOfInterest._id}}" method="POST">
  <label>Update Point of Interest Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="category", value="{{pointOfInterest.category}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="place" value="{{pointOfInterest.place}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="lat" value="{{pointOfInterest.lat}}">
      </div>
            <div class="field">
        <input class="input" type="text" name="lng" value="{{pointOfInterest.lng}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Point of Interest</button>
</form>

